<%- include("header") -%>

<div class="box" id="heading"><h1>About</h1></div>

<div class="box">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque accumsan est quis quam vulputate, at tempor elit auctor. Suspendisse quis lorem sit amet ligula fermentum efficitur vitae quis elit. Vivamus lacinia quam massa, sit amet ornare orci aliquam quis. Vivamus dui elit, euismod at felis eget, convallis porta augue. Sed elementum quis nisi id iaculis. Duis commodo, dui sed luctus pharetra, nulla nisl porta velit, et blandit nisi tellus eu purus. Vestibulum dictum nunc et dui viverra, id egestas massa blandit.</p>
</div>


<%- include("footer") -%>